<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 1.使用无参构造函数实例化组件
         <bean  -一个组件信息     -一个组件对象
            id: 组件标识唯一  方便后期读取
            class：组件类的全限定符

       -->
    <bean id="happyComponent" class="com.zhangchendong.ioc_01.HappyComponent" />

    <!-- 2.静态工厂声明工厂方法
        <bean id= 组件标识
              class = 工厂类全限定符
              factory-method = 静态工厂方法
     -->
    <bean id="clientService" class="com.zhangchendong.ioc_01.ClientService" factory-method="createClient"/>

    <!-- 3.非静态类工厂 声明Ioc的配置
            3.1 配置工厂类的组件信息
      -->
    <bean id="defaultServiceLocator" class="com.zhangchendong.ioc_01.DefaultServiceLocator" />
    <!--  3.2 通过指定非静态工厂对象和方法名，来配置生成的ioc信息  -->
    <bean id="factoryService"
          factory-bean="defaultServiceLocator"
          factory-method="createFactory"
    />



</beans>